.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Addingpassword{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
  background-color: lightblue;
  width: 60%;
  height: 300px;
  border-radius: 20px;
}

.Addingpassword button , input{
  margin: 10px;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  border: none;
  padding-left: 15px;
  font-size: 17px;
}

button{
  cursor: pointer;
}

.passwords{
 display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.password{
  width:40vw;
  height:10vh;
  background-color: black;
  color: white;
  border-radius: 7px;
  display: flex;
 justify-content: center;
 align-items: center;
 margin: 10px;
 font-size: 17px;
 font-family: Arial, Helvetica, sans-serif;
 cursor: pointer;
}